@media (min-width: 960px) {
    #file_browser_modal .modal-dialog {
        width: 960px;
    }
}



#file_browser_modal .grid .item.selected img {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

#file_browser_modal .modal-body {
    padding: 10px 0;
    overflow: auto;
}

#file_browser_modal .modal-dialog .item-default-wrapper {
    display: none;
}

#file_browser_modal .grid .item {
    cursor: pointer;
}
#file_browser_modal .item.ui-draggable-dragging {
    z-index: 1000;
}

#file_browser_modal .item.ui-draggable-dragging,
#file_browser_modal .item.ui-draggable-dragging  .item-wrapper {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

#file_browser_modal .folder .item-delete-wrapper,
#file_browser_modal .item.ui-draggable-dragging .item-delete-wrapper {
    display: none;
}


#file_browser_modal .empty {
    padding-top: 52px;
    text-align: center;
    display: none; 
}
#file_browser_modal.is-empty .empty {
    display: block;
}

#file_browser_modal.root .root-folder,
#file_browser_modal.root .up-folder {
    display: none;
}

#file_browser_modal .folder .glyphicon-folder-open {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 52px;
    margin-left: -26px;
    margin-top: -26px;
}

#file_browser_modal .folder.ui-item-over {
    background: #FFE45C;
}
#file_browser_modal .folder.ui-item-over .glyphicon-folder-open {
    color: #000;
}
